.address {
  font-style: normal;

  @media (min-width: $desktop-width) {
    position: relative;

    display: grid;

    grid-template-columns: 1fr max-content;
    grid-template-rows: min-content min-content;

    @include container;
  }
}

// wrapper
.address__wrapper {
  @include container;

  margin-bottom: 60px;

  grid-column: 1;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
    width: 100%;
    padding-left: 175px;
    margin-bottom: 29px;
  }
}

// title
.address__title {
  margin-bottom: 28px;

  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: $text-color-black;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    @include title;

    &::after {
      content: "";

      display: block;
      width: 47px;
      height: 81px;

      background-image: url("../img/svg/flag.svg");
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;

    grid-column: 2 / 3;

    &::after {
      position: absolute;
      left: calc(50% - 460px);
    }
  }
}

// list
.address__list {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-template-columns: 1fr;
  }
}

// item
.address__item {
  display: grid;

  font-size: 14px;
  line-height: 30px;
  color: $text-color-black-light;
  column-gap: 34px;

  grid-template-columns: max-content 1fr;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    column-gap: 25px;
  }
}

// definition
.address__definition {
  margin: 0;
}

// link
.address__link {
  position: relative;

  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;

  &--mail {
    border-bottom: 1px solid $color-aquamarine;
  }

  @media (min-width: $desktop-width) {
    &--mail {
      padding-bottom: 7px;
    }
  }
}

// map
.address__map {
  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: span 2;
    margin-bottom: 0;
  }
}

// icon
.address__icon {
  position: absolute;

  display: block;
  width: 67px;
  height: 100px;

  background-image: url("../img/map/map-pin.svg");
}

// img
.address__img {
  width: 100%;
  height: 454px;
  margin-bottom: 40px;

  background-color: $color-pattern;

  object-fit: cover;

  @media (min-width: $desktop-width) {
    width: 527px;
    height: 457px;
    margin: 0;
  }
}

// button
.address__button {
  max-width: 260px;
  height: 51px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin: 0;
    margin-top: auto;
    margin-left: 175px;

    grid-column: 1 / 2;
    font-size: 17px;
  }
}
