// article
.article {
  @include container;
}

.article__wrapper {
  display: grid;
  padding-bottom: 33px;

  border: 1px solid $color-grey-light;
  transition: 0.2s;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    position: relative;

    padding-bottom: 0;

    column-gap: 80px;

    grid-template-columns: max-content 1fr;
  }
}
// article vidioe wrapper
.article__video-wrapper {
  position: relative;

  min-height: 150px;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    order: -1;
    min-height: 455px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 681px;
    margin-bottom: 0;
  }
}

// vidio
.article__video {
  width: 100%;
  height: 100%;
}

// img
.article__img {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 150px;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 100%;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
  }
}

// play button
.article__play-button {
  position: absolute;
  top: 50%;
  left: 50%;

  background-color: initial;
  border: none;
  transform: translate(-50%, -50%);

  width: 101px;
  height: 77px;
  background-image: url("../img/svg/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
    outline: none;
  }

  &:active {
    transform: translate(-50%, -50%) scale(1);
  }
}

// title
.article__title {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: center;
  column-gap: 25px;
  margin-bottom: 25px;

  a {
    text-decoration: none;

    @include sub-title;

    line-height: 26px;
  }

  &::before {
    content: "";

    display: block;
    width: 32px;
    height: 22px;
    margin-left: -9px;

    background-image: url("../img/svg/video.svg");
  }

  @media (min-width: $tablet-width) {
    justify-content: start;
    column-gap: 34px;
    margin-bottom: 11px;
    padding: 0 50px;

    a {
      line-height: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    padding-top: 47px;

    grid-column: 2;
    grid-row: 1;

    &::before {
      margin-bottom: 29px;
      margin-left: 0;
    }
  }
}

// br
.article__br {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

// text
.article__text {
  margin-bottom: 41px;
  padding-left: 33px;

  font-size: 13px;
  line-height: 24px;
  color: $text-color-black-light;

  @media (min-width: $tablet-width) {
    padding: 0 39px;

    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin: 0;
    padding: 0;
    margin-top: 5px;

    grid-column: 2;
    grid-row: 1;
  }
}

// button
.article__button {
  width: 192px;
  min-height: 52px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    min-width: 584px;
    letter-spacing: -0.7px;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
    min-width: 230px;
    margin: 0;
    margin-bottom: 60px;

    grid-column: 2;
    grid-row: 1;
  }
}
