.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: $text-color-black-light;
  text-transform: uppercase;
  text-decoration: none;

  background-color: inherit;
  border: 2px solid $text-color-black-light;

  &--submit {
    font-size: 17px;
    line-height: 16px;
    color: $text-color-white;

    background-color: $color-aquamarine;
    border: none;
  }
}
