// nav
.catalog-nav {
  position: relative;

  background-color: $color-grey-background;
}

// wrapper
.catalog-nav__wrapper {
  @media (min-width: $tablet-width) {
    @include zigzag-white;
  }
}

// list
.catalog-nav__list {
  background-color: $color-grey-background;

  @include list-reset;


  @media (min-width: $tablet-width) {
    position: relative;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    @include container;
  }
}

// link
.catalog-nav__link {
  display: flex;
  justify-content: space-between;

  min-height: 103px;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 30px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $text-color-white;
  text-decoration: none;
  transition: 0.2s;

  &--interior {
    background-color: $color-aquamarine;

    &:hover {
      background-color: $color-aquamarine-light;
    }
  }

  &--toys {
    background-color: $color-aquamarine-dark;

    &:hover {
      background-color: $color-aquamarine-medium;
    }
  }

  &::after {
    content: "";

    transition: 0.2s;
    display: block;
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--interior::after {
    background-image: url("../img/catalog-nav/interior.svg");
  }

  &--toys::after {
    background-image: url("../img/catalog-nav/toy.svg");
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    min-height: 120px;
    padding-right: 28px;
    padding-left: 36px;
    padding-bottom: 8px;
    line-height: 30px;

    &:hover {
      min-height: 125px;
      padding-top: 20px;
    }

    &:active {
      &::after {
        opacity: 0.3;
      }
    }

    &::after {
      margin-top: 5px;
    }

    &--toys::after {
      margin-right: 5px;
    }
  }
}
