// nav
.catalog-nav {
  position: relative;

  background-color: $color-grey-background;
}

// wrapper
.catalog-nav__wrapper {
  @media (min-width: $tablet-width) {
    @include zigzag-white;
  }
}

// list
.catalog-nav__list {
  background-color: $color-grey-background;

  @include list-reset;


  @media (min-width: $tablet-width) {
    position: relative;

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    @include container;
  }
}

.catalog-nav__item {
  &:nth-child(1) {
    background-color: $color-aquamarine;
  }

  &:nth-child(2) {
    background-color: $color-aquamarine-dark;
  }
}

// link
.catalog-nav__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 103px;
  padding-right: 25px;
  padding-left: 30px;

  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $text-color-white;
  text-decoration: none;

  &::after {
    content: "";

    display: block;
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--interior::after {
    background-image: url("../img/catalog-nav/interior.svg");
  }

  &--toys::after {
    background-image: url("../img/catalog-nav/toy.svg");
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    min-height: 120px;
    padding-right: 28px;
    padding-left: 36px;
    padding-bottom: 8px;
    line-height: 30px;
  }
}
