.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $mobile-width) {
    width: 668px;
    padding: 0 50px;
  }

  @media (min-width: $tablet-width) {
    width: 1050px;
    padding: 0 50px;
  }
}
