.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

// tagline
.copyright__tagline {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $text-color-black;
  margin-right: 28px;

  @media (min-width: $tablet-width) {
    margin-right: 30px;
  }
}

// img
.copyright__img {
  object-fit: cover;
}
