.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 0;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

// tagline
.copyright__tagline {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: $text-color-black;
  margin-right: 28px;
}

// img
.copyright__img {
  object-fit: cover;
  margin-top: 6px;
  width: 26px;
  height: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}
