// text
.form__text {
  font-size: 13px;
  line-height: 24px;
  color: $text-color-black-light;

  @include container;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 63px;
  }
}

// fieldset
.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
  margin-bottom: 20px;
}

// wrapper
.form__wrapper {
  @include container;

  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 167px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 174px 1fr;
  }
}

// legend
.form__legend {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $text-color-aquamarine;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    align-self: flex-start;

    &--mail {
        align-self: center;
    }

    &--phone {
        align-self: center;
    }

    &--full-name {
        margin-top: 15px;
    }
  }

  &::after {
    content: "";

    display: block;
    width: 70%;
    height: 1px;
    margin-left: auto;

    background-color: $text-color-aquamarine;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

// list
.form__list {
  display: flex;
  flex-direction: column;

  @include list-reset;

  &--color {
    @media (min-width: $tablet-width) {
      display: grid;

      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $desktop-width) {
      display: grid;

      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// item
.form__item {
  padding: 25px 0;
  position: relative;


  @media (min-width: $tablet-width) {
    padding: 0;
    margin-bottom: 50px;
  }

  &--full-name {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      align-items: center;
    }
  }
}

// label
.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  // position: relative;

  &--phone {
    position: absolute;
    top: 50%;
    right: 30px;

    display: inline-block;
    width: 25px;
    height: 24px;

    background-image: url("../img/svg/phone.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      right: 65px;
      transform: translate(0, -50%);
    }
  }

  &--email {
    position: absolute;
    top: 50%;
    right: 30px;

    display: inline-block;
    width: 32px;
    height: 21px;

    background-image: url("../img/svg/mail.svg");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      right: 65px;
      transform: translate(0, -50%);
    }
  }
}

// radio
.form__label--radio {
  position: relative;

  display: flex;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 42px;
    height: 42px;

    border: 2px solid $text-color-black;
    border-radius: 50%;
    transform: translate(0, -50%);
  }
}

.form__radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;

  display: block;
  width: 18px;
  height: 18px;

  background-color: $color-aquamarine;
  border-radius: 50%;
  transform: translate(0, -50%);
}

// checkbox
.form__label--checkbox {
  position: relative;

  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 38px;
    height: 38px;

    border: 2px solid $text-color-black;
    transform: translate(0, -50%);
  }
}

.form__checkbox:checked + .form__label {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;

    display: block;
    width: 38px;
    height: 38px;

    background-image: url("../img/svg/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(0, -50%);
  }
}

// full-name
.form__full-name {
  padding: 10px;
  padding-left: 0;

  font-size: 19px;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid $color-black;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $text-color-black;

    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding-left: 18px;
  }
}

// contact
.form__contact {
  width: 100%;
  padding: 10px;
  padding-left: 0;

  font-size: 19px;
  line-height: 18px;
  color: $text-color-black-light;

  border: none;
  border-bottom: 2px solid $color-black;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $text-color-black;

    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 18px;
  }
}

// texarea
.form__textarea {
  width: 100%;
  padding: 15px;

  font-size: 19px;
  line-height: 18px;

  border: 2px solid $color-black;

  resize: none;

  &::placeholder {
    font-size: 19px;
    line-height: 18px;
    color: $text-color-black;

    opacity: 0.3;
  }
}

// sub-wrapper
.form__sub-wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;

    grid-template-columns: max-content 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 174px max-content 1fr;
  }
}

// tagline
.form__tagline {
  font-size: 14px;
  line-height: 16px;
  color: $text-color-black-light;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;

    grid-column: 3;
    grid-row: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4;
  }
}

.form__button {
  width: 100%;
  min-height: 52px;

  @media (min-width: $tablet-width) {
    min-width: 230px;

    grid-column: 1;
    grid-row: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
  }
}
