// text
.form__text {
  @include container;

  font-size: 13px;
  line-height: 24px;
  color: $text-color-black-light;

  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 81px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
  }
}

// fieldset
.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
  margin-bottom: 43px;

  &--full-name {
    margin-bottom: 35px;
  }

  &--phone {
    margin-bottom: 37px;
  }

  &--mail {
    margin-bottom: 36px;
  }

  &--textarea {
    margin-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 67px;

    &--color {
      background-color: $color-grey;
      padding: 67px 0;
      margin-bottom: 52px;
    }

    &--phone {
      background-color: $color-grey;
      padding-top: 51px;
      margin-bottom: 0;
    }

    &--mail {
      background-color: $color-grey;
      padding-top: 29px;
      padding-bottom: 49px;
      margin-bottom: 51px;
    }

    &--full-name {
      margin-bottom: 51px;
    }

    &--textarea {
      margin-bottom: 53px;
    }
  }

  @media (min-width: $tablet-width) {
    &--textarea {
      margin-bottom: 54px;
    }
  }

  @media (min-width: $desktop-width) {
    &--textarea {
      margin-bottom: 47px;
    }
  }
}

// wrapper
.form__wrapper {
  @include container;

  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: 167px 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 114px 1fr;
    padding-left: 111px;

    &--color {
      padding-right: 188px;
    }

    &--full-name,
    &--phone,
    &--mail,
    &--textarea {
      padding-right: 225px;
    }
  }
}

// legend
.form__legend {
  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 16px;
  color: $text-color-aquamarine;
  margin-bottom: 34px;

  &--full-name {
    margin-bottom: 31px;
  }

  &--phone {
    margin-bottom: 4px;
  }

  &--mail {
    margin-bottom: 7px;
  }

  &--textarea {
    margin-bottom: 22px;
  }

  @media (min-width: $tablet-width) {
    align-self: flex-start;

    &--mail {
      align-self: center;
    }

    &--phone {
      align-self: center;
    }

    &--full-name {
      margin-top: 17px;
    }

    &--textarea {
      margin-top: 20px;
    }
  }

  &::after {
    content: "";

    display: block;
    width: 76%;
    height: 1px;
    margin-left: auto;

    background-color: $text-color-aquamarine;

    @media (min-width: $tablet-width) {
      content: none;
    }
  }
}

// list
.form__list {
  @include list-reset;

  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;

  &--color {
    row-gap: 43px;
  }

  @media (min-width: $tablet-width) {
    row-gap: 56px;

    &--color {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 21px;
    }

    &--full-name {
      row-gap: 26px;
    }
  }

  @media (min-width: $desktop-width) {
    row-gap: 54px;

    &--color {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 57px;
      column-gap: 52px;
    }

    &--full-name {
      row-gap: 26px;
    }
  }
}

// item
.form__item {
  position: relative;


  @media (min-width: $tablet-width) {
    padding: 0;
    // margin-bottom: 50px;
  }

  &--full-name {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      align-items: center;
    }
  }
}

// label
.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;

  &--full-name {
    margin-bottom: 1px;
  }

  &--phone {
    position: absolute;
    top: 30px;
    right: 38px;

    display: inline-block;
    width: 25px;
    height: 24px;

    background-image: url("../img/svg/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--email {
    position: absolute;
    top: 50%;
    right: 30px;

    display: inline-block;
    width: 32px;
    height: 21px;

    background-image: url("../img/svg/mail.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {

    font-size: 19px;

    &--full-name {
      margin-right: 24px;
      margin-bottom: 6px;
    }

    &--phone {
      right: 76px;
      top: 9px;
    }

    &--email {
      right: 72px;
      top: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    &--phone {
      right: 233px;
    }

    &--email {
      right: 230px;
    }
  }
}

// radio
.form__label--radio {
  position: relative;

  display: flex;
  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 40px;
    height: 40px;

    border: 2px solid $text-color-black;
    border-radius: 50%;
    transform: translate(0, -50%);
  }

  @media (min-width: $tablet-width) {
    padding-left: 78px;

    &::before {
      width: 50px;
      height: 50px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.form__radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;

  display: block;
  width: 16px;
  height: 16px;

  background-color: $color-aquamarine;
  border-radius: 50%;
  transform: translate(0, -50%);

  @media (min-width: $tablet-width) {
    left: 14px;
    width: 20px;
    height: 20px;
  }
}

// checkbox
.form__label--checkbox {
  position: relative;

  padding-left: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    width: 38px;
    height: 38px;

    border: 2px solid $text-color-black;
    transform: translate(0, -50%);
  }

  @media (min-width: $tablet-width) {

    padding-left: 82px;

    &::before {
      width: 52px;
      height: 52px;
    }
  }
}

.form__checkbox:checked + .form__label {
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 1px;

    display: block;
    width: 38px;
    height: 38px;

    background-image: url("../img/svg/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(0, -50%);
  }
}

// full-name
.form__full-name {
  padding: 10px;
  padding-left: 0;

  font-size: 19px;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid $color-black;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $text-color-black;

    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 11px;
    padding-left: 18px;

    &::placeholder {
      font-size: 19px;
    }
  }
}

// contact
.form__contact {
  width: 100%;
  padding: 10px;
  padding-left: 0;

  font-size: 19px;
  line-height: 18px;
  color: $text-color-black-light;

  border: none;
  border-bottom: 2px solid $color-black;

  &--phone {
    padding: 11px 0;
  }

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $text-color-black;

    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-left: 18px;
    background-color: inherit;

    &::placeholder {
      font-size: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
    padding-bottom: 14px;
  }
}

// texarea
.form__textarea {
  width: 100%;
  padding: 15px;
  min-height: 142px;

  font-size: 17px;
  line-height: 18px;

  border: 2px solid $color-black;

  resize: none;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $text-color-black;

    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 19px;

    &::placeholder {
      font-size: 19px;
    }
  }
}

// sub-wrapper
.form__sub-wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;

    grid-template-columns: max-content 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 174px max-content 1fr;
    padding-right: 225px;
  }
}

// tagline
.form__tagline {
  display: block;
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 16px;
  color: $text-color-black-light;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;

    grid-column: 3;
    grid-row: 1;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4;
  }
}

.form__button {
  width: 100%;
  min-height: 52px;
  letter-spacing: -0.7px;

  @media (min-width: $tablet-width) {
    min-width: 230px;

    grid-column: 1;
    grid-row: 1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
  }
}
