.modal-cart__tagline {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $text-color-black;
}
.modal-cart__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $text-color-black-light;
}
.modal-cart__size {
  font-size: 15px;
  line-height: 30px;
  color: $text-color-black-light;
}
