// footer
.page-footer {
  background-color: $color-grey;

  @media (min-width: $tablet-width) {
    min-height: 143px;
  }
}

// wrapper
.page-footer__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: center;
    padding-top: 30px;

    grid-template-columns: max-content 1fr max-content;
  }
}

// img
.page-footer__logo {
  width: 100px;

  @media (max-width: $tablet-width) {
    display: none;
  }

  img {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    width: 102px;
  }
}

// copyright
.page-footer__copyright {
  justify-self: end;
}
