.page-header {
  @media (min-width: $tablet-width) {
    position: relative;

    background: linear-gradient(0deg, $color-grey-background 50%, $color-white-background 50%);

    &::before {
      content: "";
      position: absolute;
      top: 49%;
      z-index: 2;

      width: 100%;
      height: 2px;

      background-color: $color-grey;
    }
  }
}

// wrapper
.page-header__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    @include container;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

// logo
.page-header__logo {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  transition: opacity 0.2s;
  z-index: 1;


  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    align-self: center;
    padding: 0;

    grid-column: 1 / 1;
    grid-row: 1 / 1;
    justify-self: start;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: -2px;

    grid-column: 2 / 3;
    justify-self: center;
  }
}

// nav
.page-header__nav {
  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
}

// text
.page-header__text {
  font-size: 15px;
  line-height: 24px;
  color: $text-color-black-light;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    margin-top: 18px;

    background-color: $color-grey-background;

    grid-column: auto / -1;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    margin-top: 22px;
    padding-right: 0;

    grid-column: span 2 / -1;
  }
}
