// wrapper
.page-main {
  position: relative;
}

// wrapper
.page-main__wrapper {
  width: 100%;
  min-height: 373px;

  background-color: $color-grey;
}

// title
.page-main__title {
  position: relative;
  z-index: 1;

  @include main-title();
}

// img
.page-main__img {
  position: absolute;

  width: 320px;
}
