// product
.product {
  position: relative;

  margin-bottom: 32px;
  padding-bottom: 42px;

  &::after {
    @include zigzag;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
    padding-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
    padding-bottom: 90px;
  }
}

// wrapper
.product__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    display: grid;

    column-gap: 40px;

    grid-template-columns: 1fr max-content;
  }

  @media (min-width: $desktop-width) {
    column-gap: 0;

    grid-template-columns: 175px min-content 1fr;
  }
}

// title
.product__title {
  margin-bottom: 6px;

  @include title;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    align-self: center;
    margin-bottom: 32px;

    grid-column: 2 / -1;
  }
}

// day
.product__day {
  text-transform: uppercase;

  @include sub-title-aquamarine();

  @media (max-width: $tablet-width) {
    &--hidden {
      display: none;
    }
  }

  @media (max-width: $desktop-width) {
    margin: 0;

    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    align-self: center;
    margin-top: -17px;
    margin-right: 27px;

    line-height: 17px;
    text-align: center;

    grid-column: 2 / -1;
    grid-row: 1 / 2;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 3px;
    margin-left: -10px;

    grid-column: 1 / 1;
    justify-self: center;
  }
}

// desription
.product__description {
  margin-bottom: 19px;

  font-size: 15px;
  line-height: 24px;
  color: $text-color-black-light;

  @media (min-width: $tablet-width) {
    margin-top: -12px;
    margin-bottom: 14px;

    font-size: 17px;
    line-height: 30px;

    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 4px;

    grid-column: 2 / 2;
  }
}

// list
.product__list {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;

    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 2;
  }
}

// item
.product__item {
  display: grid;
  padding: 10px 0;

  font-size: 15px;
  line-height: 20px;
  color: $text-color-black-light;
  column-gap: 17px;

  border-bottom: 1px solid $color-grey-light;

  grid-template-columns: 1fr 2fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: minmax(80px, max-content) max-content;
  }
}

// defenition
.product__definition {
  margin: 0;
}

// img
.product__img-wrapper {
  display: block;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    // width: 334px;
    // height: 404px;
    margin-bottom: 0;

    grid-column: 2 / 3;
    grid-row: 2 / span 4;
  }

  @media (min-width: $desktop-width) {
    z-index: -1;

    // width: 525px;
    // height: 632px;

    grid-column: 3 / -1;
    grid-row: 1 / span 5;
    justify-self: flex-end;
  }
}

// price
.product__price {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;

  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $text-color-black-light;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;

    grid-column: 1 / 2;
    margin-left: -5px;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
    margin-bottom: 0;
    margin-left: 0;

    grid-column: 2 / 2;
  }
}

// button
.product__button {
  min-height: 52px;

  @media (min-width: $tablet-width) {
    width: 292px;
    min-height: 44px;
    margin-bottom: 2px;

    grid-column: 1 / 2;
    justify-self: center;
  }

  @media (min-width: $desktop-width) {
    align-self: end;
    min-height: 52px;
    margin-bottom: 7px;

    grid-column: 2 / 2;
  }
}
