// reviews
.reviews {
  position: relative;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    background-image: url("../img/review/review.jpg");
    background-repeat: no-repeat;
    padding-bottom: 93px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 146px;
    background-position: calc(50% - 350px) top;
  }

  &::after {
    @include zigzag;
  }
}

.reviews__wrapper {
  @include container;

  @media (min-width: $tablet-width) {
    position: relative;

    display: grid;
    row-gap: 23px;
    padding-top: 47px;
    // min-height: 457px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    display: grid;

    grid-template-columns: 175px repeat(2, 1fr);
    padding-top: 40px;
  }
}

// title
.reviews__title {
  @include title;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    align-self: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    line-height: 51px;
  }
}

// button
.reviews__button {
  width: 100%;
  min-height: 52px;

  @media (min-width: $tablet-width) {
    align-self: end;
    width: 175px;
    height: 52px;

    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3;
  }
}

// slider
.reviews__slider {
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
  }
}
