// slider
.slider {
  position: relative;
}

// list
.slider__list {
  @include list-reset;

  margin-bottom: 30px;
}

// text
.slider__text {
  margin-bottom: 32px;

  font-size: 15px;
  line-height: 30px;
  color: $text-color-black-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

// name
.slider__name {
  margin-bottom: 5px;

  font-weight: 900;
  font-size: 17px;
  line-height: 24px;
  color: $text-color-black;
}

// instagram
.slider__instagram {
  font-size: 17px;
  line-height: 30px;
  color: $text-color-black-light;
  text-decoration: none;
}

// wrapper button
.slider__wrapper-button {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 13px;
    bottom: 32px;

    display: grid;
    justify-content: center;

    gap: 21px;
    grid-template-columns: 1fr 1fr;
  }
}

// button
.slider__button {
  width: 100%;
  min-height: 52px;

  background-color: initial;
  border: 1px solid $color-grey-light;
}
