// slider
.slider {
  position: relative;
}

// list
.slider__list {
  @include list-reset;
}

// text
.slider__text {
  font-size: 15px;
  line-height: 30px;
  color: $text-color-black-light;
}

// name
.slider__name {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  color: $text-color-black;
}

// instagram
.slider__instagram {
  font-size: 17px;
  line-height: 30px;
  color: $text-color-black-light;
  text-decoration: none;
}

// wrapper button
.slider__wrapper-button {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    bottom: 100px;
  }
}

// button
.slider__button {
  width: 100%;

  background-color: initial;
  border: 1px solid $color-grey-light;
}
