.socials {
  display: flex;
  justify-content: center;

  border-bottom: 1px solid $color-grey-light;

  @include list-reset;

  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    justify-content: center;
    border-bottom: none;
  }
}

// link
.socials__link {
  display: block;
  padding: 20px;
  padding-top: 28px;
  color: $color-black;
  transition: 0.2s;

  // svg {
  //   border: 2px solid red;
  //   color: red;
  // }
  &:hover,
  &:focus {
    color: $color-aquamarine-medium;
  }

  &:active {
    opacity: 0.3;
  }

  &--faceboock {
    svg {
      margin-top: -4px;
    }
  }
}
