.socials {
  display: flex;
  justify-content: center;

  border-bottom: 1px solid $color-grey-light;

  @include list-reset;

  @media (min-width: $tablet-width) {
    justify-content: center;
    padding-top: 8px;
  }
}

// link
.socials__link {
  display: block;
  padding: 20px;
}
