@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .container {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .container {
      width: 1150px;
      padding: 0 50px; } }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  background-color: inherit;
  border: 2px solid #444444;
  transition: 0.2s; }
  .button:hover, .button:focus {
    background-color: #444444;
    color: #ffffff; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }
  .button--submit {
    font-size: 17px;
    line-height: 16px;
    color: #ffffff;
    background-color: #63d1bb;
    border: none; }

.page__body {
  display: grid;
  align-content: start;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content; }

.burger {
  position: absolute;
  top: 24px;
  right: 26px;
  height: 30px;
  width: 30px;
  background-color: inherit;
  background-image: url("../img/svg/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none; }
  @media (min-width: 768px) {
    .burger {
      display: none; } }

@media (min-width: 768px) {
  .page-header {
    position: relative;
    background: linear-gradient(0deg, #f9f9f9 50%, #ffffff 50%); }
    .page-header::before {
      content: "";
      position: absolute;
      top: 49%;
      z-index: 2;
      width: 100%;
      height: 2px;
      background-color: #f1f1f1; } }

@media (min-width: 768px) {
  .page-header__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 320px;
    margin: 0 auto;
    padding: 0 30px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .page-header__wrapper {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 768px) and (min-width: 1150px) {
    .page-header__wrapper {
      width: 1150px;
      padding: 0 50px; } }

@media (min-width: 1150px) {
  .page-header__wrapper {
    grid-template-columns: repeat(3, 1fr); } }

.page-header__logo {
  display: flex;
  justify-content: center;
  padding: 22px 0;
  z-index: 1;
  transition: opacity 0.2s; }
  .page-header__logo:hover, .page-header__logo:focus {
    opacity: 0.6; }
  .page-header__logo:active {
    opacity: 0.3; }
  @media (min-width: 768px) {
    .page-header__logo {
      align-self: center;
      padding: 0;
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      justify-self: start; } }
  @media (min-width: 1150px) {
    .page-header__logo {
      margin-bottom: -2px;
      grid-column: 2 / 3;
      justify-self: center; } }

@media (min-width: 768px) {
  .page-header__nav {
    grid-column: 1 / -1;
    grid-row: 1 / -1; } }

.page-header__text {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  display: none; }
  @media (min-width: 768px) {
    .page-header__text {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      margin-top: 18px;
      background-color: #f9f9f9;
      grid-column: auto / -1;
      grid-row: 2 / 3; } }
  @media (min-width: 1150px) {
    .page-header__text {
      justify-content: flex-end;
      margin-top: 22px;
      padding-right: 0;
      grid-column: span 2 / -1; } }

.nav__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .nav__list {
      display: grid;
      grid-template-columns: repeat(2, -webkit-max-content) -webkit-min-content 1fr;
      grid-template-columns: repeat(2, max-content) min-content 1fr;
      grid-template-rows: repeat(2, 1fr); } }
  @media (min-width: 1150px) {
    .nav__list {
      -moz-column-gap: 28px;
           column-gap: 28px;
      grid-template-columns: repeat(2, -webkit-max-content) 1fr -webkit-min-content 1fr;
      grid-template-columns: repeat(2, max-content) 1fr min-content 1fr; } }

.nav__item {
  position: relative;
  border-top: 1px solid #f1f1f1; }
  .nav__item:last-child {
    border-bottom: 1px solid #f1f1f1; }
  @media (min-width: 768px) {
    .nav__item {
      display: flex;
      justify-content: center;
      border: none; }
      .nav__item--cart {
        justify-content: flex-end; }
      .nav__item--search {
        margin-left: -3px; }
      .nav__item:nth-child(1) {
        align-items: baseline;
        margin-right: 37px;
        background-color: #f9f9f9;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        justify-self: start; }
      .nav__item:nth-child(2) {
        align-items: baseline;
        margin-right: 17px;
        background-color: #f9f9f9;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start; }
      .nav__item:nth-child(5) {
        grid-column: 3 / 4; } }
  @media (min-width: 1150px) {
    .nav__item:nth-child(1) {
      justify-content: flex-start;
      width: 100%;
      margin-right: 0;
      background-color: #ffffff;
      border-right: 2px solid #f1f1f1;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-self: start; }
    .nav__item:nth-child(2) {
      background-color: #ffffff;
      margin-right: 32px;
      margin-left: 7px;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-self: start; }
    .nav__item:nth-child(3) {
      margin-right: 28px;
      background-color: #f9f9f9;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-self: start; }
    .nav__item:nth-child(4) {
      background-color: #f9f9f9;
      margin-left: 7px;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: start; }
    .nav__item:nth-child(5) {
      grid-column: 4 / 5; } }

.nav__item--hidden {
  display: none; }
  @media (min-width: 1150px) {
    .nav__item--hidden {
      display: flex; }
      .nav__item--hidden a {
        padding-top: 20px;
        font-size: 15px; } }

.nav__link {
  position: relative;
  display: flex;
  padding-top: 28px;
  padding-right: 15px;
  padding-bottom: 26px;
  padding-left: 50%;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  transition: 0.2s;
  z-index: 1;
  margin-left: -84px;
  letter-spacing: 1px; }
  .nav__link:hover, .nav__link:focus {
    color: rgba(0, 0, 0, 0.6); }
    .nav__link:hover svg, .nav__link:focus svg {
      color: #63d1bb;
      opacity: 1; }
  .nav__link:active {
    color: rgba(0, 0, 0, 0.3); }
    .nav__link:active svg {
      opacity: 0.3; }
  .nav__link svg {
    position: absolute;
    top: 31px;
    left: calc(50% - 87px);
    opacity: 0.2; }
  @media (min-width: 768px) {
    .nav__link {
      align-items: center;
      padding: 10px 0;
      padding-top: 19px;
      margin-left: 0;
      letter-spacing: normal; }
      .nav__link--search {
        padding: 36px 32px;
        border-right: 2px solid #f1f1f1;
        border-left: 2px solid #f1f1f1; }
      .nav__link svg {
        position: static; }
      .nav__link span {
        position: absolute;
        width: 1px;
        height: 1px;
        visibility: hidden;
        opacity: 0; } }
  @media (min-width: 1150px) {
    .nav__link {
      justify-content: flex-start;
      align-items: baseline;
      padding-top: 34px;
      font-size: 17px;
      line-height: 24px; } }

@media (min-width: 768px) {
  .nav__link--cart {
    justify-content: space-between;
    margin-top: -10px;
    font-size: 17px; }
    .nav__link--cart svg {
      margin-right: 30px; } }

@media (min-width: 1150px) {
  .nav__link--cart {
    margin-top: 0; } }

.page-main {
  position: relative;
  padding-bottom: 40px; }
  .page-main--catalog {
    padding-bottom: 58px; }
  .page-main--form {
    padding-bottom: 55px; }
  @media (min-width: 768px) {
    .page-main {
      padding-bottom: 57px; }
      .page-main--form {
        padding-bottom: 51px; }
      .page-main--catalog {
        padding-bottom: 63px; } }
  @media (min-width: 1150px) {
    .page-main {
      padding-bottom: 100px; }
      .page-main--form {
        padding-bottom: 51px; }
      .page-main--catalog {
        padding-bottom: 103px; } }

.page-main__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 279px;
  background-color: #f9f9f9;
  background-image: url("../img/main/main-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center -18px; }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    .page-main__wrapper {
      background-image: url("../img/main/main-mobile@2x.jpg");
      background-size: 320px auto; } }
  .page-main__wrapper--form {
    position: relative;
    min-height: 177px;
    margin-bottom: 16px;
    background-image: none; }
  .page-main__wrapper--catalog {
    position: relative;
    min-height: 173px;
    margin-bottom: 30px;
    background-image: none; }
  @media (min-width: 768px) {
    .page-main__wrapper {
      min-height: 536px;
      background-image: url("../img/main/main-tablet.jpg");
      background-position: center -93px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .page-main__wrapper {
      background-image: url("../img/main/main-tablet@2x.jpg");
      background-size: 768px auto; } }
  @media (min-width: 768px) {
      .page-main__wrapper--form {
        min-height: 138px;
        margin-bottom: 63px;
        background-image: none; }
        .page-main__wrapper--form::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 24px;
          background-image: url("../img/svg/zigzag-fill-desktop.svg");
          background-repeat: repeat-x;
          background-position: 0 0;
          background-size: contain; } }
      @media (min-width: 768px) and (min-width: 1150px) {
        .page-main__wrapper--form::after {
          height: 34px;
          bottom: -14px; } }
  @media (min-width: 768px) {
      .page-main__wrapper--catalog {
        min-height: 135px;
        margin-bottom: 78px;
        background-image: none; }
        .page-main__wrapper--catalog::after {
          content: "";
          position: absolute;
          bottom: -10px;
          left: 0;
          width: 100%;
          height: 24px;
          background-image: url("../img/svg/zigzag-fill-desktop.svg");
          background-repeat: repeat-x;
          background-position: 0 0;
          background-size: contain; } }
      @media (min-width: 768px) and (min-width: 1150px) {
        .page-main__wrapper--catalog::after {
          height: 34px;
          bottom: -14px; } }
  @media (min-width: 1150px) {
    .page-main__wrapper {
      min-height: 541px;
      background-image: url("../img/main/main-desktop.jpg");
      background-position: center -88px; } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
    .page-main__wrapper {
      background-image: url("../img/main/main-desktop@2x.jpg");
      background-size: 1150px auto; } }
  @media (min-width: 1150px) {
      .page-main__wrapper--form {
        min-height: 170px;
        margin-bottom: 114px;
        background-image: none; }
      .page-main__wrapper--catalog {
        min-height: 170px;
        margin-bottom: 126px;
        background-image: none; } }

.page-main__title {
  position: relative;
  z-index: 1;
  padding-top: 52px;
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: #000000; }
  @media (min-width: 768px) {
    .page-main__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .page-main__title {
      font-size: 53px;
      line-height: 57px; } }
  @media (min-width: 768px) {
    .page-main__title {
      padding-top: 35px; }
      .page-main__title br:nth-child(1) {
        display: none; }
      .page-main__title--form {
        margin: 0;
        padding-top: 0;
        margin-top: 10px; }
      .page-main__title--catalog {
        margin: 0;
        margin-top: 10px;
        padding-top: 0; } }
  @media (min-width: 1150px) {
    .page-main__title--form {
      margin-top: 14px; }
    .page-main__title--catalog {
      margin-top: 14px; } }

.page-main__img {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translate(-50%);
  width: 320px; }

.page-main__nav {
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .page-main__nav {
      margin-bottom: 14px; } }
  @media (min-width: 1150px) {
    .page-main__nav {
      margin-bottom: 72px; } }

.page-main__about-us {
  margin-bottom: 56px; }
  @media (min-width: 768px) {
    .page-main__about-us {
      margin-bottom: 68px; } }
  @media (min-width: 1150px) {
    .page-main__about-us {
      margin-bottom: 70px; } }

.page-main__reviews {
  margin-bottom: 40px; }
  @media (min-width: 768px) {
    .page-main__reviews {
      margin-bottom: 69px; } }
  @media (min-width: 1150px) {
    .page-main__reviews {
      margin-bottom: 74px; } }

.catalog-nav {
  position: relative;
  background-color: #f9f9f9; }
  @media (min-width: 1150px) {
    .catalog-nav {
      background: linear-gradient(0deg, #f9f9f9 120px, rgba(0, 0, 0, 0) 0); } }

@media (min-width: 768px) {
  .catalog-nav__wrapper {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 24px;
    background-image: url("../img/svg/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
    background-size: contain; } }
  @media (min-width: 768px) and (min-width: 1150px) {
    .catalog-nav__wrapper {
      height: 34px;
      bottom: -14px; } }

.catalog-nav__list {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (min-width: 768px) {
    .catalog-nav__list {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 320px;
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .catalog-nav__list {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 768px) and (min-width: 1150px) {
    .catalog-nav__list {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .catalog-nav__list {
      background-color: rgba(0, 0, 0, 0);
      min-height: 125px;
      margin-top: -5px; } }

@media (min-width: 1150px) {
  .catalog-nav__item {
    display: flex;
    align-items: flex-end; } }

.catalog-nav__link {
  display: flex;
  justify-content: space-between;
  min-height: 103px;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s; }
  .catalog-nav__link--interior {
    background-color: #63d1bb; }
    .catalog-nav__link--interior:hover {
      background-color: #59d5bc; }
  .catalog-nav__link--toys {
    background-color: #56c3b2; }
    .catalog-nav__link--toys:hover {
      background-color: #46c1ae; }
  .catalog-nav__link::after {
    content: "";
    transition: 0.2s;
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center; }
  .catalog-nav__link--interior::after {
    background-image: url("../img/catalog-nav/interior.svg"); }
  .catalog-nav__link--toys::after {
    background-image: url("../img/catalog-nav/toy.svg"); }
  @media (min-width: 768px) {
    .catalog-nav__link {
      font-size: 20px;
      min-height: 120px;
      padding-right: 28px;
      padding-left: 36px;
      padding-bottom: 8px;
      line-height: 30px; }
      .catalog-nav__link:hover {
        padding-top: 20px;
        align-self: flex-start; }
      .catalog-nav__link:active::after {
        opacity: 0.3; }
      .catalog-nav__link::after {
        margin-top: 5px; }
      .catalog-nav__link--toys::after {
        margin-right: 5px; } }
  @media (min-width: 1150px) {
    .catalog-nav__link {
      width: 100%; } }

.product {
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 42px; }
  .product::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-image: url("../img/svg/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-size: contain; }
    @media (min-width: 768px) {
      .product::after {
        height: 17px; } }
    @media (min-width: 1150px) {
      .product::after {
        height: 23px;
        width: 1050px;
        left: 50%;
        transform: translate(-50%); } }
  @media (min-width: 768px) {
    .product {
      margin-bottom: 57px;
      padding-bottom: 66px; } }
  @media (min-width: 1150px) {
    .product {
      margin-bottom: 24px;
      padding-bottom: 90px; } }

.product__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .product__wrapper {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .product__wrapper {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 768px) {
    .product__wrapper {
      display: grid;
      -moz-column-gap: 40px;
           column-gap: 40px;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content; } }
  @media (min-width: 1150px) {
    .product__wrapper {
      -moz-column-gap: 0;
           column-gap: 0;
      grid-template-columns: 175px -webkit-min-content 1fr;
      grid-template-columns: 175px min-content 1fr; } }

.product__title {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000; }
  @media (min-width: 768px) {
    .product__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .product__title {
      font-size: 53px;
      line-height: 57px; } }
  @media (min-width: 768px) {
    .product__title {
      margin-bottom: 50px;
      grid-column: 1 / -1;
      grid-row: 1 / 2; } }
  @media (min-width: 1150px) {
    .product__title {
      align-self: center;
      margin-bottom: 32px;
      grid-column: 2 / -1; } }

.product__day {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb; }
  .product__day br {
    display: none; }
  @media (max-width: 1150px) {
    .product__day {
      margin: 0;
      line-height: 20px; } }
  @media (min-width: 768px) {
    .product__day {
      align-self: center;
      margin-top: -17px;
      margin-right: 27px;
      line-height: 17px;
      text-align: center;
      grid-column: 2 / -1;
      grid-row: 1 / 2;
      justify-self: end; }
      .product__day br {
        display: inline; } }
  @media (min-width: 1150px) {
    .product__day {
      margin: 0;
      margin-top: 3px;
      margin-left: -10px;
      grid-column: 1 / 1;
      justify-self: center; } }

.product__description {
  margin-bottom: 19px;
  font-size: 15px;
  line-height: 24px;
  color: #444444; }
  @media (min-width: 768px) {
    .product__description {
      margin-top: -12px;
      margin-bottom: 14px;
      font-size: 17px;
      line-height: 30px;
      grid-column: 1 / 2; } }
  @media (min-width: 1150px) {
    .product__description {
      margin-bottom: 4px;
      grid-column: 2 / 2; } }

.product__list {
  margin-bottom: 27px; }
  @media (min-width: 768px) {
    .product__list {
      margin-bottom: 32px;
      grid-column: 1 / 2; } }
  @media (min-width: 1150px) {
    .product__list {
      grid-column: 2 / 2; } }

.product__item {
  display: grid;
  padding: 10px 0;
  font-size: 15px;
  line-height: 20px;
  color: #444444;
  -moz-column-gap: 17px;
       column-gap: 17px;
  border-bottom: 1px solid #ececec;
  grid-template-columns: 1fr 2fr; }
  @media (min-width: 768px) {
    .product__item {
      grid-template-columns: minmax(80px, -webkit-max-content) -webkit-max-content;
      grid-template-columns: minmax(80px, max-content) max-content; } }

.product__definition {
  margin: 0; }

.product__img-wrapper {
  display: block;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .product__img-wrapper {
      margin-bottom: 0;
      grid-column: 2 / 3;
      grid-row: 2 / span 4; } }
  @media (min-width: 1150px) {
    .product__img-wrapper {
      z-index: -1;
      grid-column: 3 / -1;
      grid-row: 1 / span 5;
      justify-self: flex-end; } }

.product__price {
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444; }
  @media (min-width: 768px) {
    .product__price {
      font-size: 20px;
      line-height: 24px;
      grid-column: 1 / 2;
      margin-left: -5px; } }
  @media (min-width: 1150px) {
    .product__price {
      align-self: end;
      margin-bottom: 0;
      margin-left: 0;
      grid-column: 2 / 2; } }

.product__button {
  min-height: 52px; }
  @media (min-width: 768px) {
    .product__button {
      width: 292px;
      min-height: 44px;
      margin-bottom: 2px;
      grid-column: 1 / 2;
      justify-self: center; } }
  @media (min-width: 1150px) {
    .product__button {
      align-self: end;
      min-height: 52px;
      margin-bottom: 7px;
      grid-column: 2 / 2; } }

.about-us__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .about-us__wrapper {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .about-us__wrapper {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .about-us__wrapper {
      display: grid;
      grid-template-columns: 175px repeat(2, 1fr); } }

.about-us__title {
  margin-bottom: 27px;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000; }
  @media (min-width: 768px) {
    .about-us__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .about-us__title {
      font-size: 53px;
      line-height: 57px; } }
  @media (min-width: 768px) {
    .about-us__title {
      margin-bottom: 39px;
      grid-column: 2; } }
  @media (min-width: 1150px) {
    .about-us__title {
      grid-column: 2; } }

.about-us__list {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  row-gap: 32px; }
  @media (min-width: 768px) {
    .about-us__list {
      -moz-column-gap: 58px;
           column-gap: 58px;
      grid-auto-flow: column;
      grid-template-rows: repeat(3, 1fr);
      row-gap: 58px; } }
  @media (min-width: 1150px) {
    .about-us__list {
      grid-column: 2 / -1;
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
      -moz-column-gap: 117px;
           column-gap: 117px; } }

.about-us__item {
  flex-basis: 50%; }
  .about-us__item::before {
    content: "";
    display: block;
    width: 55px;
    height: 55px;
    background-repeat: no-repeat;
    background-size: cover; }
  .about-us__item--ecology::before {
    background-image: url("../img/about-us/icon-ecology.svg");
    background-size: 33px 38px;
    margin-left: 8px; }
  .about-us__item--price::before {
    background-image: url("../img/about-us/icon-price.svg");
    background-size: 47px 27px;
    margin-top: -3px; }
  .about-us__item--like::before {
    background-image: url("../img/about-us/icon-like.svg");
    background-size: 34px 27px;
    margin-top: 1px;
    margin-left: 7px;
    margin-bottom: -6px; }
  .about-us__item--clew::before {
    background-image: url("../img/about-us/icon-clew.svg");
    background-size: 35px 34px;
    margin-left: 2px;
    margin-top: -1px;
    margin-bottom: -3px; }
  .about-us__item--rocket::before {
    background-image: url("../img/about-us/icon-rocket.svg");
    background-size: 55px 23px;
    margin-left: -6px;
    margin-bottom: -5px; }
  .about-us__item--gift::before {
    background-image: url("../img/about-us/icon-gift.svg");
    background-size: 33px 32px;
    margin-bottom: -1px;
    margin-left: 3px; }
  @media (min-width: 768px) {
    .about-us__item--ecology::before {
      margin-bottom: 3px; }
    .about-us__item--like::before {
      margin-top: -2px; }
    .about-us__item--clew::before {
      margin-left: 4px;
      margin-top: 4px;
      margin-bottom: 0; }
    .about-us__item--rocket::before {
      margin-bottom: -3px; }
    .about-us__item--gift::before {
      margin-left: 3px;
      margin-top: -8px; } }
  @media (min-width: 1150px) {
    .about-us__item--like::before {
      margin-top: -5px; } }

.about-us__text {
  margin: 0;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #000000; }
  @media (min-width: 768px) {
    .about-us__text {
      font-size: 20px;
      line-height: 22px; } }

.reviews {
  position: relative;
  padding-bottom: 50px; }
  @media (min-width: 768px) {
    .reviews {
      background-image: url("../img/review/review.jpg");
      background-size: 350px;
      background-repeat: no-repeat;
      padding-bottom: 66px; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
    .reviews {
      background-image: url("../img/review/review@2x.jpg"); } }
  @media (min-width: 1150px) {
    .reviews {
      padding-bottom: 117px;
      background-position: calc(50% - 350px) top; } }
  .reviews::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background-image: url("../img/svg/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-size: contain; }
    @media (min-width: 768px) {
      .reviews::after {
        height: 17px; } }
    @media (min-width: 1150px) {
      .reviews::after {
        height: 23px;
        width: 1050px;
        left: 50%;
        transform: translate(-50%); } }

.reviews__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .reviews__wrapper {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .reviews__wrapper {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 768px) {
    .reviews__wrapper {
      position: relative;
      display: grid;
      row-gap: 27px;
      padding-top: 47px;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1150px) {
    .reviews__wrapper {
      display: grid;
      grid-template-columns: 175px repeat(2, 1fr);
      padding-top: 40px; } }

.reviews__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 13px; }
  @media (min-width: 768px) {
    .reviews__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 1150px) {
    .reviews__title {
      font-size: 53px;
      line-height: 57px; } }
  @media (min-width: 768px) {
    .reviews__title {
      align-self: center; } }
  @media (min-width: 1150px) {
    .reviews__title {
      grid-column: 2;
      line-height: 51px; } }

.reviews__button {
  width: 100%;
  min-height: 52px; }
  @media (min-width: 768px) {
    .reviews__button {
      align-self: center;
      margin-top: 20px;
      width: 175px;
      height: 52px;
      grid-column: 2;
      grid-row: 1;
      justify-self: end; } }
  @media (min-width: 1150px) {
    .reviews__button {
      grid-column: 3;
      margin-top: 30px;
      letter-spacing: -0.4px; } }

.reviews__slider {
  margin-bottom: 37px; }
  @media (min-width: 768px) {
    .reviews__slider {
      grid-column: span 2; } }
  @media (min-width: 1150px) {
    .reviews__slider {
      grid-column: 2 / -1; } }

.slider {
  position: relative; }

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 28px; }

.slider__text {
  margin: 0;
  margin-bottom: 33px;
  font-size: 15px;
  line-height: 30px;
  color: #444444; }
  @media (min-width: 768px) {
    .slider__text {
      margin-bottom: 60px;
      font-size: 17px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .slider__text {
      margin-bottom: 43px; } }

@media (min-width: 768px) {
  .slider__text-br {
    display: none; } }

@media (min-width: 1150px) {
  .slider__text-br--desktop {
    display: inline; } }

.slider__name {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 17px;
  line-height: 24px;
  color: #000000; }
  @media (min-width: 768px) {
    .slider__name {
      letter-spacing: 0.6px; } }
  @media (min-width: 1150px) {
    .slider__name {
      letter-spacing: 0; } }

.slider__instagram {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  text-decoration: none; }

.slider__wrapper-button {
  display: flex;
  justify-content: center; }
  @media (min-width: 768px) {
    .slider__wrapper-button {
      position: absolute;
      right: 13px;
      bottom: 30px;
      display: grid;
      justify-content: center;
      gap: 21px;
      grid-template-columns: 1fr 1fr; } }

.slider__button {
  width: 100%;
  min-height: 52px;
  background-color: initial;
  border: 1px solid #ececec; }
  .slider__button:hover, .slider__button:focus {
    opacity: 0.6; }
  .slider__button:active {
    opacity: 0.3; }

.address {
  font-style: normal; }
  @media (min-width: 1150px) {
    .address {
      position: relative;
      display: grid;
      grid-template-columns: 1fr -webkit-max-content;
      grid-template-columns: 1fr max-content;
      grid-template-rows: -webkit-min-content -webkit-min-content;
      grid-template-rows: min-content min-content;
      width: 320px;
      margin: 0 auto;
      padding: 0 30px; } }
  @media (min-width: 1150px) and (min-width: 768px) {
    .address {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) and (min-width: 1150px) {
    .address {
      width: 1150px;
      padding: 0 50px; } }

.address__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  margin-bottom: 60px;
  grid-column: 1; }
  @media (min-width: 768px) {
    .address__wrapper {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .address__wrapper {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 768px) {
    .address__wrapper {
      margin-bottom: 49px; } }
  @media (min-width: 1150px) {
    .address__wrapper {
      align-self: end;
      width: 100%;
      padding-left: 175px;
      margin-bottom: 35px; } }

.address__title {
  margin-bottom: 28px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000; }
  @media (min-width: 768px) {
    .address__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 49px;
      position: relative;
      font-weight: bold;
      font-size: 25px;
      line-height: 30px;
      color: #000000; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .address__title {
      font-size: 43px;
      line-height: 50px; } }
  @media (min-width: 768px) and (min-width: 1150px) {
    .address__title {
      font-size: 53px;
      line-height: 57px; } }
  @media (min-width: 768px) {
      .address__title::after {
        content: "";
        right: 2px;
        top: -23px;
        position: absolute;
        display: block;
        width: 47px;
        height: 81px;
        background-image: url("../img/svg/flag.svg");
        background-repeat: no-repeat; } }
  @media (min-width: 1150px) {
    .address__title {
      justify-content: flex-start;
      margin-bottom: 35px;
      grid-column: 2 / 3; }
      .address__title::after {
        position: absolute;
        top: -15px;
        right: 0;
        left: -112px; } }

@media (min-width: 768px) {
  .address__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 1150px) {
  .address__list {
    grid-column: 2 / 3;
    grid-template-columns: 1fr; } }

.address__item {
  display: grid;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  -moz-column-gap: 34px;
       column-gap: 34px;
  grid-template-columns: -webkit-max-content 1fr;
  grid-template-columns: max-content 1fr; }
  .address__item:not(:last-child) {
    margin-bottom: 30px; }
  @media (min-width: 768px) {
    .address__item {
      font-size: 17px;
      line-height: 30px;
      -moz-column-gap: 25px;
           column-gap: 25px; } }

.address__definition {
  margin: 0; }

.address__link {
  position: relative;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: none;
  transition: 0.2s; }
  .address__link--mail {
    border-bottom: 1px solid #63d1bb;
    padding-bottom: 2px; }
    .address__link--mail:hover, .address__link--mail:focus {
      color: #46c1ae; }
    .address__link--mail:active {
      border-color: rgba(70, 193, 174, 0.1); }
  @media (min-width: 1150px) {
    .address__link--mail {
      padding-bottom: 7px; } }

.address__map {
  position: relative; }
  @media (min-width: 768px) {
    .address__map {
      margin-bottom: 13px; } }
  @media (min-width: 1150px) {
    .address__map {
      grid-column: 2 / -1;
      grid-row: span 2;
      margin-bottom: 0; } }

.address__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 67px;
  height: 100px;
  background-image: url("../img/map/map-pin.svg"); }

.address__img {
  width: 100%;
  height: 454px;
  margin-bottom: 41px;
  background-color: #f0e5d4;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (min-width: 1150px) {
    .address__img {
      width: 527px;
      height: 457px;
      margin: 0; } }

.address__button {
  max-width: 260px;
  height: 51px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .address__button {
      width: 230px;
      margin: 0 auto;
      letter-spacing: -0.7px; } }
  @media (min-width: 1150px) {
    .address__button {
      align-self: center;
      margin: 0;
      margin-bottom: 5px;
      margin-top: auto;
      margin-left: 175px;
      grid-column: 1 / 2;
      font-size: 18px; } }

.page-footer {
  background-color: #f1f1f1; }
  @media (min-width: 768px) {
    .page-footer {
      min-height: 143px; } }

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .page-footer__wrapper {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 768px) {
    .page-footer__wrapper {
      display: grid;
      align-items: center;
      padding-top: 30px;
      grid-template-columns: -webkit-max-content 1fr -webkit-max-content;
      grid-template-columns: max-content 1fr max-content; } }

.page-footer__logo {
  width: 100px;
  display: none; }
  @media (min-width: 768px) {
    .page-footer__logo {
      display: block; } }
  .page-footer__logo img {
    width: 100%; }
  @media (min-width: 1150px) {
    .page-footer__logo {
      width: 102px; } }

.page-footer__copyright {
  justify-self: end; }

.socials {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ececec;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 5px; }
  @media (min-width: 768px) {
    .socials {
      justify-content: center;
      border-bottom: none; } }

.socials__link {
  display: block;
  padding: 20px;
  padding-top: 28px;
  color: #000000;
  transition: 0.2s; }
  .socials__link:hover, .socials__link:focus {
    color: #46c1ae; }
  .socials__link:active {
    opacity: 0.3; }
  .socials__link--faceboock svg {
    margin-top: -4px; }

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 0; }
  @media (min-width: 768px) {
    .copyright {
      padding: 0; } }

.copyright__tagline {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  margin-right: 28px; }

.copyright__link {
  display: block;
  color: #63d1bb;
  transition: 0.2s; }
  .copyright__link:hover, .copyright__link:focus {
    color: #46c1ae; }
  .copyright__link:active {
    opacity: 0.3; }

.modal-cart__tagline {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: #000000; }

.modal-cart__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: #444444; }

.modal-cart__size {
  font-size: 15px;
  line-height: 30px;
  color: #444444; }

.form__text {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    .form__text {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .form__text {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 768px) {
    .form__text {
      font-size: 17px;
      line-height: 30px;
      margin-bottom: 81px; } }
  @media (min-width: 1150px) {
    .form__text {
      padding: 0 225px; } }

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 43px; }
  .form__fieldset--full-name {
    margin-bottom: 35px; }
  .form__fieldset--phone {
    margin-bottom: 37px; }
  .form__fieldset--mail {
    margin-bottom: 36px; }
  .form__fieldset--textarea {
    margin-bottom: 12px; }
  @media (min-width: 768px) {
    .form__fieldset {
      margin-bottom: 67px; }
      .form__fieldset--color {
        background-color: #f1f1f1;
        padding: 67px 0;
        margin-bottom: 52px; }
      .form__fieldset--phone {
        background-color: #f1f1f1;
        padding-top: 51px;
        margin-bottom: 0; }
      .form__fieldset--mail {
        background-color: #f1f1f1;
        padding-top: 29px;
        padding-bottom: 49px;
        margin-bottom: 51px; }
      .form__fieldset--full-name {
        margin-bottom: 51px; }
      .form__fieldset--textarea {
        margin-bottom: 53px; } }
  @media (min-width: 768px) {
    .form__fieldset--textarea {
      margin-bottom: 54px; } }
  @media (min-width: 1150px) {
    .form__fieldset--textarea {
      margin-bottom: 47px; } }

.form__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative; }
  @media (min-width: 768px) {
    .form__wrapper {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .form__wrapper {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 768px) {
    .form__wrapper {
      display: grid;
      grid-template-columns: 167px 1fr; } }
  @media (min-width: 1150px) {
    .form__wrapper {
      grid-template-columns: 114px 1fr;
      padding-left: 111px; }
      .form__wrapper--color {
        padding-right: 188px; }
      .form__wrapper--full-name, .form__wrapper--phone, .form__wrapper--mail, .form__wrapper--textarea {
        padding-right: 225px; } }

.form__legend {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 16px;
  color: #63d1bb;
  margin-bottom: 34px; }
  .form__legend--full-name {
    margin-bottom: 31px; }
  .form__legend--phone {
    margin-bottom: 4px; }
  .form__legend--mail {
    margin-bottom: 7px; }
  .form__legend--textarea {
    margin-bottom: 22px; }
  @media (min-width: 768px) {
    .form__legend {
      align-self: flex-start; }
      .form__legend--mail {
        align-self: center; }
      .form__legend--phone {
        align-self: center; }
      .form__legend--full-name {
        margin-top: 17px; }
      .form__legend--textarea {
        margin-top: 20px; } }
  .form__legend::after {
    content: "";
    display: block;
    width: 76%;
    height: 1px;
    margin-left: auto;
    background-color: #63d1bb; }
    @media (min-width: 768px) {
      .form__legend::after {
        content: none; } }

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px; }
  .form__list--color {
    row-gap: 43px; }
  @media (min-width: 768px) {
    .form__list {
      row-gap: 56px; }
      .form__list--color {
        grid-template-columns: repeat(2, 1fr);
        -moz-column-gap: 21px;
             column-gap: 21px; }
      .form__list--full-name {
        row-gap: 26px; } }
  @media (min-width: 1150px) {
    .form__list {
      row-gap: 54px; }
      .form__list--color {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 57px;
        -moz-column-gap: 52px;
             column-gap: 52px; }
      .form__list--full-name {
        row-gap: 26px; } }

.form__item {
  position: relative; }
  @media (min-width: 768px) {
    .form__item {
      padding: 0; } }
  .form__item--full-name {
    display: flex;
    flex-direction: column; }
    @media (min-width: 768px) {
      .form__item--full-name {
        flex-direction: row;
        align-items: center; } }

.form__label {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  cursor: pointer; }
  .form__label--full-name {
    margin-bottom: 1px; }
  .form__label--phone {
    position: absolute;
    top: 30px;
    right: 38px;
    display: inline-block;
    width: 25px;
    height: 24px;
    opacity: 0.2;
    transition: 0.2s; }
  .form__label--email {
    position: absolute;
    top: 50%;
    right: 30px;
    display: inline-block;
    width: 32px;
    height: 21px;
    opacity: 0.2;
    transition: 0.2s; }
  @media (min-width: 768px) {
    .form__label {
      font-size: 19px; }
      .form__label--full-name {
        margin-right: 24px;
        margin-bottom: 6px; }
      .form__label--phone {
        right: 76px;
        top: 9px; }
      .form__label--email {
        right: 72px;
        top: 12px; } }
  @media (min-width: 1150px) {
    .form__label--phone {
      right: 233px; }
    .form__label--email {
      right: 230px; } }

.form__label--radio {
  position: relative;
  display: flex;
  padding-left: 60px; }
  .form__label--radio::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 50%;
    transform: translate(0, -50%);
    transition: 0.2s; }
  .form__label--radio:hover::before {
    border-color: #63d1bb; }
  .form__label--radio:active::before {
    border-color: rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .form__label--radio {
      padding-left: 78px; }
      .form__label--radio::before {
        width: 50px;
        height: 50px; } }
  @media (min-width: 1150px) {
    .form__label--radio {
      padding-left: 80px; } }

.form__radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  left: 12px;
  top: 50%;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #63d1bb;
  border-radius: 50%;
  transform: translate(0, -50%); }
  @media (min-width: 768px) {
    .form__radio:checked + .form__label--radio::after {
      left: 15px;
      width: 20px;
      height: 20px; } }

.form__label--checkbox {
  position: relative;
  padding-left: 60px; }
  .form__label--checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 38px;
    height: 38px;
    border: 2px solid #000000;
    transform: translate(0, -50%); }
  .form__label--checkbox:hover::before {
    border-color: #63d1bb; }
  .form__label--checkbox:active::before {
    border-color: rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .form__label--checkbox {
      padding-left: 82px; }
      .form__label--checkbox::before {
        width: 52px;
        height: 52px; } }

.form__checkbox:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 1px;
  display: block;
  width: 38px;
  height: 38px;
  background-image: url("../img/svg/check.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(0, -50%); }

@media (min-width: 768px) {
  .form__checkbox:checked + .form__label::after {
    left: 6px; } }

.form__full-name {
  padding: 10px;
  padding-left: 0;
  font-size: 19px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  transition: 0.2s; }
  .form__full-name::-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3; }
  .form__full-name::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3; }
  .form__full-name:hover, .form__full-name:focus, .form__full-name:active {
    border-color: #63d1bb; }
  @media (min-width: 768px) {
    .form__full-name {
      width: 100%;
      padding: 11px;
      padding-left: 18px; }
      .form__full-name::-moz-placeholder {
        font-size: 19px; }
      .form__full-name::placeholder {
        font-size: 19px; } }

.form__contact {
  width: 100%;
  padding: 10px;
  padding-left: 0;
  font-size: 19px;
  line-height: 18px;
  color: #444444;
  border: none;
  border-bottom: 2px solid #000000;
  outline: none;
  transition: 0.1s; }
  .form__contact:hover, .form__contact:focus, .form__contact:active {
    border-color: #63d1bb; }
    .form__contact:hover + label, .form__contact:focus + label, .form__contact:active + label {
      color: #63d1bb;
      opacity: 1; }
  .form__contact--phone {
    padding: 11px 0; }
  .form__contact::-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3; }
  .form__contact::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3; }
  @media (min-width: 768px) {
    .form__contact {
      padding-left: 18px;
      background-color: inherit; }
      .form__contact::-moz-placeholder {
        font-size: 19px; }
      .form__contact::placeholder {
        font-size: 19px; } }
  @media (min-width: 1150px) {
    .form__contact {
      padding-top: 7px;
      padding-bottom: 14px; } }

.form__textarea {
  width: 100%;
  padding: 15px;
  min-height: 142px;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid #000000;
  resize: none;
  outline: none;
  transition: 0.2s; }
  .form__textarea:hover, .form__textarea:active, .form__textarea:focus {
    border-color: #63d1bb; }
  .form__textarea::-moz-placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3; }
  .form__textarea::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: #000000;
    opacity: 0.3; }
  @media (min-width: 768px) {
    .form__textarea {
      font-size: 19px; }
      .form__textarea::-moz-placeholder {
        font-size: 19px; }
      .form__textarea::placeholder {
        font-size: 19px; } }

.form__sub-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .form__sub-wrapper {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .form__sub-wrapper {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 768px) {
    .form__sub-wrapper {
      display: grid;
      align-items: center;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr; } }
  @media (min-width: 1150px) {
    .form__sub-wrapper {
      grid-template-columns: 174px -webkit-max-content 1fr;
      grid-template-columns: 174px max-content 1fr;
      padding-right: 225px; } }

.form__tagline {
  display: block;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  color: #444444; }
  @media (min-width: 768px) {
    .form__tagline {
      font-size: 17px;
      line-height: 30px;
      grid-column: 3;
      grid-row: 1;
      margin-bottom: 0; } }
  @media (min-width: 1150px) {
    .form__tagline {
      grid-column: 4; } }

.form__button {
  width: 100%;
  min-height: 52px;
  letter-spacing: -0.7px; }
  @media (min-width: 768px) {
    .form__button {
      min-width: 230px;
      grid-column: 1;
      grid-row: 1; } }
  @media (min-width: 1150px) {
    .form__button {
      grid-column: 2; } }

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  display: grid;
  margin-bottom: 31px;
  row-gap: 33px; }
  @media (min-width: 768px) {
    .catalog__list {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .catalog__list {
      width: 1150px;
      padding: 0 50px; } }
  @media (min-width: 768px) {
    .catalog__list {
      margin-bottom: 52px;
      row-gap: 52px; } }
  @media (min-width: 1150px) {
    .catalog__list {
      margin-bottom: 57px;
      -moz-column-gap: 50px;
           column-gap: 50px;
      grid-template-columns: repeat(3, 1fr); } }

.catalog__item {
  border: 1px solid #ececec;
  padding-bottom: 10px; }
  @media (min-width: 768px) {
    .catalog__item {
      display: grid;
      padding-bottom: 0;
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 1150px) {
    .catalog__item {
      grid-template-columns: 1fr;
      grid-template-rows: -webkit-max-content 1fr;
      grid-template-rows: max-content 1fr; } }
  .catalog__item:hover .catalog__wrapper {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }

.catalog__img {
  width: 100%;
  margin-bottom: 25px; }
  @media (min-width: 768px) {
    .catalog__img {
      height: 100%;
      max-height: 330px;
      min-height: 100%;
      margin-bottom: 0; } }
  @media (min-width: 1150px) {
    .catalog__img {
      -o-object-fit: none;
         object-fit: none;
      max-height: 458px;
      width: 100%; } }

.catalog__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 28px;
  transition: 0.2s; }
  @media (min-width: 768px) {
    .catalog__wrapper {
      padding: 27px 33px; } }
  @media (min-width: 1150px) {
    .catalog__wrapper {
      padding: 27px;
      padding-bottom: 23px;
      border: 1px solid #ececec;
      border-top: none; } }

.catalog__name-wrapper {
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .catalog__name-wrapper {
      margin-bottom: 12px; } }

.catalog__name {
  margin: 0;
  margin-bottom: 5px;
  transition: 0.2s; }
  .catalog__name a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #000000; }
    @media (min-width: 768px) {
      .catalog__name a {
        font-size: 20px; } }
  .catalog__name:hover, .catalog__name:focus {
    opacity: 0.6; }
  .catalog__name:active {
    opacity: 0.3; }

.catalog__feature {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  color: #444444; }
  @media (min-width: 768px) {
    .catalog__feature {
      font-size: 15px; } }

.catalog__sub-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  border-top: 1px solid #ececec; }
  @media (min-width: 768px) {
    .catalog__sub-wrapper {
      padding-top: 24px; } }

.catalog__price {
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #000000; }
  @media (min-width: 768px) {
    .catalog__price {
      margin: 0;
      font-size: 17px; } }

.catalog__cart {
  color: #000000;
  opacity: 0.2;
  transition: 0.2s; }
  .catalog__cart:hover, .catalog__cart:focus {
    color: #63d1bb;
    opacity: 1; }
  .catalog__cart:active {
    opacity: 0.3; }

.article {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (min-width: 768px) {
    .article {
      width: 768px;
      padding: 0 50px; } }
  @media (min-width: 1150px) {
    .article {
      width: 1150px;
      padding: 0 50px; } }

.article__wrapper {
  display: grid;
  padding-bottom: 33px;
  border: 1px solid #ececec;
  transition: 0.2s; }
  .article__wrapper:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .article__wrapper:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
  @media (min-width: 768px) {
    .article__wrapper {
      padding-bottom: 46px; } }
  @media (min-width: 1150px) {
    .article__wrapper {
      position: relative;
      padding-bottom: 0;
      -moz-column-gap: 80px;
           column-gap: 80px;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr; } }

.article__video-wrapper {
  position: relative;
  min-height: 150px;
  margin-bottom: 22px; }
  @media (min-width: 768px) {
    .article__video-wrapper {
      order: -1;
      min-height: 455px;
      margin-bottom: 22px; } }
  @media (min-width: 1150px) {
    .article__video-wrapper {
      width: 681px;
      margin-bottom: 0; } }

.article__video {
  width: 100%;
  height: 100%; }

.article__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover; }
  @media (min-width: 768px) {
    .article__img {
      height: 100%; } }
  @media (min-width: 1150px) {
    .article__img {
      height: 100%; } }

.article__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: initial;
  border: none;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  background-image: url("../img/svg/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s;
  cursor: pointer; }
  .article__play-button:hover {
    transform: translate(-50%, -50%) scale(1.2);
    outline: none; }
  .article__play-button:active {
    transform: translate(-50%, -50%) scale(1); }

.article__title {
  display: grid;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 25px;
       column-gap: 25px;
  margin-bottom: 25px; }
  .article__title a {
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
    line-height: 26px; }
    @media (min-width: 768px) {
      .article__title a {
        font-size: 20px; } }
  .article__title::before {
    content: "";
    display: block;
    width: 32px;
    height: 22px;
    margin-left: -9px;
    background-image: url("../img/svg/video.svg"); }
  @media (min-width: 768px) {
    .article__title {
      justify-content: start;
      -moz-column-gap: 34px;
           column-gap: 34px;
      margin-bottom: 11px;
      padding: 0 50px; }
      .article__title a {
        line-height: 22px; } }
  @media (min-width: 1150px) {
    .article__title {
      align-self: start;
      grid-template-columns: 1fr;
      margin: 0;
      padding: 0;
      padding-top: 47px;
      grid-column: 2;
      grid-row: 1; }
      .article__title::before {
        margin-bottom: 29px;
        margin-left: 0; } }

@media (min-width: 768px) {
  .article__br {
    display: none; } }

@media (min-width: 1150px) {
  .article__br {
    display: inline; } }

.article__text {
  margin-bottom: 41px;
  padding-left: 33px;
  font-size: 13px;
  line-height: 24px;
  color: #444444; }
  @media (min-width: 768px) {
    .article__text {
      padding: 0 39px;
      font-size: 15px;
      line-height: 30px; } }
  @media (min-width: 1150px) {
    .article__text {
      align-self: center;
      margin: 0;
      padding: 0;
      margin-top: 5px;
      grid-column: 2;
      grid-row: 1; } }

.article__button {
  width: 192px;
  min-height: 52px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .article__button {
      min-width: 584px;
      letter-spacing: -0.7px; } }
  @media (min-width: 1150px) {
    .article__button {
      align-self: end;
      min-width: 230px;
      margin: 0;
      margin-bottom: 60px;
      grid-column: 2;
      grid-row: 1; } }

/*# sourceMappingURL=style.css.map */
