*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

// @media (min-width: 1280px) {
//   html {
//     background-image: url("../img/Desktop.png");
//     background-position: center top;
//     background-repeat: no-repeat;
//   }
//   body {
//     opacity: 0.5;
//   }
// }
