@mixin list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin main-title {
  font-weight: bold;
  font-size: 27px;
  line-height: 30px;
  color: $text-color-black;

  @media (min-width: $mobile-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $tablet-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

@mixin title {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  color: $text-color-black;

  @media (min-width: $mobile-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $tablet-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

@mixin sub-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: $text-color-black;
}

@mixin sub-title-aquamarine {
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: $text-color-aquamarine;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

@mixin padding-center {
  padding-left: calc(50% - 334px);
  padding-right: calc(50% - 334px);

  @media (min-width: $tablet-width) {
    padding-left: calc(50% - 525px);
    padding-right: calc(50% - 525px);
  }
}
