// width
$mobile-width: 768px;
$tablet-width: 1150px;

// colors
$text-color-black: #000000;
$text-color-black-light: #444444;
$text-color-white: #ffffff;
$text-color-aquamarine: #63d1bb;
$color-aquamarine-dark: #56c3b2;
$color-aquamarine: #63d1bb;
$color-pattern: #f0e5d4;
$color-grey: #f1f1f1;
$color-grey-light: #ececec;
$color-grey-background: #f9f9f9;
$color-black: #000000;
$-color-white-background: #ffffff;
