// width
$mobile-width: 768px;
$tablet-width: 1150px;
// $desktop-width: 1150;

// colors
$text-color-black: #000000;
$text-color-black-light: #444444;

$text-color-white: #FFFFFF;

$text-color-aquamarine: #63D1BB ;

$color-aquamarine-dark: #56C3B2;
$color-aquamarine: #63D1BB ;

$color-pattern: #f0e5d4;

$color-grey: #F1F1F1;;
$color-grey-light: #ECECEC;


